  body {
   background-color: SteelBlue;
 }
  body {
   font-family: Arial;
   font-size: 20px;
 }
  .middle {
  width: 45%;
  margin: auto;
  background: SteelBlue;
 }
  section {
  width: 100%;
  padding-bottom: 10px;
 }
  section img {
  width: 100%;
 }
  a {
 text-decoration: none;
 }